<h2>Descripción General</h2>
<p>Sistema de Blog Básico. Podemos controlar el contenido del nuestro front end y Blog desde el back end iniciando sesión con usuario admin y contraseña.</p>

<h3>Módulos funcionales </h3>
<p>Funcionalidades del sistema.</p>

<ul class="dots-list">
	<li> Manejar las secciones del front end desde el back end </li>
	<li> Sección Home Slide </li>
	<li> About Page </li>
	<li> Cargar Imágenes</li>
	<li> Lista de Imágenes</li>
	<li> Sección Portafolio</li>
	<li> Titulo del Portafolio, Descripción e Imagen.</li>
	<li> Categorías del Blog</li>
	<li> Sección Blog</li>
	<li> Asignar Categoría al Blog</li>
	<li> Titulo del Blog</li>
	<li> Agregar Tags al Blog</li>
	<li> Descripción del Blog (html)</li>
	<li> Imagen del Blog</li>	
</ul>

<p>Y muchas otras funcionalidades que puedes encontrar en el sistema!</p>