<h2>Descripción General</h2>
<p>Sistema para gestionar Escuelas, con este sistema podemos administrar todos los aspectos administrativos de una escuela. Podemos agregar 3 tipos de usuarios al sistema, como son: Administrador, Operador, y Estudiante.Podemos Configurar las clases y materias que se dictan en la escuela, periodos, grupos, horario, categorías de cobro, etc.. Podemos registrar estudiantes con sus datos generales, así como también registrar sus materias en la escuela y cargo por inscripción, cargo por mensualidad y cargo por examen. También podemos registrar empleados (maestros, secretarios, asistentes, director etc..) con sus datos generales, así como fecha de ingreso y salario. Podemos registrar asistencias y/o ausencias de los maestros y asistentes. para llevar un control a su sueldo. También podemos administrar las calificaciones de los estudiantes. Asi como un modulo de administración de cuentas y cobros.</p>

<h3>Módulos funcionales </h3>
<p>Funcionalidades del sistema.</p>
<ul class="dots-list">
	<li>Admin de Usuarios</li>
	<li>Administra tu perfil</li>
	<li>Clases</li>
	<li>Periodos</li>
	<li>Grupos</li>
	<li>Horarios</li>
	<li>Categoría de Cobros</li>
	<li>Monto de Cobro</li>
	<li>Tipo de Examen</li>
	<li>Materias</li>
	<li>Designación de Empleados</li>
	<li>Maestros</li>
	<li>Asistentes</li>
	<li>Secretarias</li>
	<li>Director</li>
	<li>Subdirector</li>
	<li>Administración de Estudiantes</li>
	<li>Rol General</li>
	<li>Cargos</li>
	<li>Salarios</li>
	<li>Asistencias</li>
	<li>Ausencias</li>
	
</ul>
<p>Y muchas otras funcionalidades que puedes encontrar en el sistema!</p>