<div>
    <p>Con más de 5 años de experiencia en Laravel, uno de los frameworks  más populares en el mundo del desarrollo web, esta plataforma nos brinda la oportunidad de crear aplicaciones dinámicas completas y escalables. Algunas de las habilidades adquiridas a través de los años son:</p>
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                <ul class="dots-list">
                    <li>Manejo del modelo MVC</li>
                    <li>Base de datos MySQL y migraciones</li>
                    <li>Páginas dinámicas Blade</li>
                    <li>Autorización y Autenticación Laravel</li>
                </ul>
            </td>
            <td>
                <ul class="dots-list">
                    <li>Manejo de imágenes</li>
                    <li>Variables de sesión y cache</li>
                    <li>Sitios multilingual</li>
                    <li>Eloquent ORM y Relaciones</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>