<h2>Descripción General</h2>
<p>Sistema de Control de Inventario. Con este sistema de Inventarios podemos llevar el control de Proveedores, Clientes, Productos, Compras y Facturas del negocio. En el modulo de productos podemos ver una lista de productos que podemos ordenar por proveedor o categoría, y podemos  ver la cantidad de productos que tenemos en almacén, al agregar un producto, las unidades de medida las podemos agregar las que nosotros mismos definamos, por ejemplo: Piezas, Litros, Gramos, Kilogramos Etc.. En el modulo de Facturas podemos generar las ventas del sistema.</p>

<h3>Módulos funcionales </h3>
<p>Funcionalidades del sistema.</p>

<ul class="dots-list">

	<li> Gestión de Proveedores </li>
	<li> Gestión de Clientes</li>
	<li> Ver lista de clientes con adeudo</li>
	<li> Reporte adeudo por cliente</li>
	<li> Reporte entradas por cliente</li>
	<li> Dar de alta unidades de medida de productos</li>
	<li> Agregar Categorías</li>
	<li> Gestión de Productos</li>
	<li> Lista Productos por Categorías</li>
	<li> Lista Productos por Proveedor</li>
	<li> Gestión Modulo de Compras</li>
	<li> Agregar una compra</li>
	<li> Aprobar compra</li>
	<li> Reporte de compras por fechas</li>
	<li> Gestión Modulo Facturas (Ventas)</li>
	<li> Lista Facturas Aprobadas</li>
	<li> Lista de Facturas por Aprobar</li>
	<li> Modulo de Imprimir Facturas</li>
	<li> Reporte PDF por rango de fechas</li>
	<li> Lista de facturas por mes</li>
	<li> Reporte de inventarios</li>
	<li> Cantidad de Entrada</li>
	<li> Cantidad de Salida</li>
	<li> Cantidad en Almacén</li>
	<li> Reporte de Inventario por Proveedor</li>
	<li> Reporte de Inventario por Producto</li>
	<li> Reporte de Facturas</li>
	<li> Facturas Reporte PDF por Fechas</li>
	<li> Modulo de Roles y Permisos</li>
	
</ul>

<p>Y muchas otras funcionalidades que puedes encontrar en el sistema!</p>