<h2>Descripción General</h2>

<p>Sistema para gestionar portafolio personal en una aplicación web. Este gestor de Portafolio es la aplicación web que estas usando en este momento, cuando no tienes la clave de <b>Administrador</b> solo podrás <b>ver</b> todas las secciones que fueron previamente configuradas por el <b>Admin</b> del sistema. Pero si cuentas con la clave de acceso podrás configurar todas las secciones del sitio, estas son: La sección Héroe (Hero Section) que es el banner inicial que ves al entrar al sitio, aquí podrás configurar el Titulo, Subtitulo, Botón y los títulos de maquina dinámicos que vez desplegar cada 5 segundos en el banner.</p>

<p>Desde el <b>Back end</b> podrás configurar los servicios que tu empresa ofrece, las categorías de los servicios que ofreces, a partir de ahi podrás configurar los proyectos y los detalles de tu portafolio (proyectos que haz realizado).  Ademas podrás configurar habilidades, experiencia, testimonios, pagina de contacto, todos los links del pie de pagina etc.. Ademas de todo esto podrás alimentar un Blog donde podrás publicar temas y noticias relacionados con tus servicios. El sistema esta desarrollado con <b>Laravel</b>, <b>PHP</b>, <b>MySQL</b>, <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, y <b>Bootstrap</b>.</p>

<h3>Módulos funcionales </h3>
<p>Funcionalidades del sistema.</p>

<ul class="dots-list">

	<li> Gestor de Portafolio </li>
	<li> Acceso al Backend para Admin</li>
	<li> Secciones configurable desde el back end</li>
	<li> Seccione Héroe</li>
	<li> Títulos de Maquina Dinámicos (Efecto Maquina de Escribir)</li>
	<li> Configuración de Servicios</li>
	<li> Quienes somos (Nosotros)</li>
	<li> Proyectos del Portafolio</li>
	<li> Filtrar Proyectos por Categoría</li>
	<li> Detalles del Proyecto</li>
	<li> Liga a Documentación Adicional</li>
	<li> Habilidades</li>
	<li> Experiencia</li>
	<li> Testimonios</li>
	<li> Pagina de Contacto</li>
	<li> Configuración del Pie de Pagina (Footer)</li>
	<li> Modulo de Blog Integrado</li>
	
</ul>

<p>Y muchas otras funcionalidades que puedes encontrar en el sistema!</p>