<h2>Descripción General</h2>
<p>Sistema de gestor punto de venta. Con este sistema PDV (<b>Punto de Venta</b>) en inglés POS (<b>Point Of Sale</b>) podemos llevar el control de un sistema de punto de venta, donde podemos gestionar Empleados, Clientes, Proveedores, Almacén, Productos, Fechas de expiración para el producto,  Importar productos de una lista de Excel, Categorías, Ventas Pendientes, Ventas Completadas, Módulo de Asistencia de Empleados, Salarios para empleados, Avances de salario para empleados, Reportes etc...</p>

<h3>Módulos funcionales </h3>
<p>Funcionalidades del sistema.</p>

<ul class="dots-list">

	<li> Gestión de Punto de Venta</li>
	<li> Gestor de Productos</li>
	<li> Gestor de Categorías</li>
	<li> Gestor de Proveedores</li>
	<li> Gestor de Almacén</li>
	<li> Fecha de Compra Producto Producto</li>
	<li> Producto precio de Compra y de Venta</li>
	<li> Cargar foto del Producto</li>
	<li> Código de Barras para el Producto</li>
	<li> Control de Almacén</li>
	<li> Importar Productos de lista excel</li>
	<li> Exportar Productos a excel</li>
	<li> Módulo de Salario </li>
	<li> Avances de Salario</li>
	<li> Módulo de Asistencia de Empleados</li>
	
</ul>

<p>Y muchas otras funcionalidades que puedes encontrar en el sistema!</p>