<h2>Descripción General</h2>
<p>Gestor de Bienes Raíces. Con este sistema de administración de bienes raíces, podemos crear un sistema de gestión de bienes raíces (Real Estate) todo controlado desde nuestro <b>back end</b>, podemos controlar el contenido de las siguientes secciones del <b>front end</b>, como son: Banner Principal, Categorías, Propiedades Populares, Video de Promoción, Mejores Ofertas, Testimonios , Porque Elegirnos, Lugares Populares, Nuestros Agentes, Acceso Rápido Compra o Renta Propiedades,  Blog (Artículos y Noticias), Descarga nuestra App Mobil, Pie de Pagina (Footer). También el sistema cuenta con un módulo de mensajes para poder mandar mensajes privados a un agente de ventas.</p>

<h3>Módulos funcionales </h3>
<p>Funcionalidades del sistema.</p>

<ul class="dots-list">

	<li> Gestión tipo de Propiedades (Residencial, Comercial, Apartamento etc...) </li>
	<li> Gestor de Localidades </li>
	<li> Gestor de Comodidades (Aire Acondicionado, Alberca, Refrigerador, Estufa etc...)</li>
	<li> Gestor de Propiedades</li>
	<li> Nombre Propiedad</li>
	<li> Estatus Propiedad (Renta o Compra)</li>
	<li> Precio Bajo, Precio Alto</li>
	<li> Imagen miniatura</li>
	<li> Subir Multiples imágenes de la propiedad</li>
	<li> Ubicación con google</li>
	<li> Dormitorios, Baños, Cocheras, Dimensiones, etc...</li>
	<li> Designar tipo de propiedad</li>
	<li> Designar Popular y/o Especial</li>
	<li> Descripción de la propiedad html</li>
	<li> Ver sus mensajes (Agentes)</li>
	<li> Gestor de Agentes, Usuarios, Testimonios</li>
	<li> Gestor de Noticias Blog</li>
	<li> Aprobar comentarios para el Blog</li>
	<li> Sistema de Roles y Permisos</li>
	
</ul>

<p>Y muchas otras funcionalidades que puedes encontrar en el sistema!</p>