<h2>Objetivo</h2>
<p>Sistema para gestionar restaurantes de comida preparada, con este sistema podemos administrar todos los aspectos para la venta a domicilio de comida. Podemos agregar diferentes platillos de comida ya preparada y promocionarla en el sitio, así como agregar los productos al carrito de venta, podemos adicionalmente agregar cupones de descuento que el cliente puede aprovechar y aplicar a la hora de hacer su compra en linea. También contamos con un sistema de Blog para promocionar productos y/o recetas.</p>

<h3>Secciones Configurables</h3>
<p>Desde el backend podemos configurar los datos de la secciones.</p>
<ul class="dots-list">
	<li>Sección Hero</li>
	<li>Sección Porque Elegirnos</li>
	<li>Sección Porque Elegirnos</li>
	<li>Sección Ofertas Diarias</li>
	<li>Sección Menú de Comidas</li>
	<li>Sección Control Deslizante Banner</li>
	<li>Sección Nuestro Equipo</li>
	<li>Sección Descarga Nuestra Aplicación Móvil</li>
	<li>Sección Testimonios</li>
	<li>Sección Contadores</li>
	<li>Sección Noticias y Blog</li>
	<li>Sección Pie de Pagina</li>
</ul>
<p>Estas secciones pueden ser activadas o desactivadas desde el backend.</p>

<h3>Paginas</h3>
<p>A parte de las secciones que podemos mostrar en el frontend. Podemos también configurar las paginas y el contenido de las páginas que podemos mostrar en el frontend, tal como son las páginas de:</p>
<ul class="dots-list">
	<li>Política de Privacidad</li>
	<li>Términos y Condiciones</li>
	<li>Receta del mes</li>
	<li>O cualquier otra pagina informativa que tu quieras generar</li>
</ul>

<h3>Blog</h3>
<p>El sistema cuenta también con un Blog integrado para que puedas promover entre tus usuarios novedades, nuevos platillos, recetas, etc.. Los usuarios podrán dejar comentarios y serán publicados siempre y cuando el admin lo haya autorizado.</p>

<h3>Chat en Vivo</h3>
<p>El sistema cuenta también con un sistema de chat en vivo, donde el usuario podrá mandarte un mensaje y empezar una conversación en vivo con el admin del sistema.</p>

<h3>Multi Idioma</h3>
<p>El sistema es multi idioma, el usuario podrá cambiar el lenguaje de la aplicación a su preferencia.</p>

<h3>Carrito de Compra</h3>
<p>El sistema cuenta con un carrito de compra, donde el usuario podrá agregar productos al carrito y hacer el pedido y pagar en línea.</p>